extends layout

block content
    p
    | Your account has been deleted as you did not agree to the terms of service.
    
    p
    | If you wish to recreate your account then please create a new account.
    
block actionbuttons
    a(class='btn btn-primary', href='http://www.nouse.co.uk/') Nouse Website