extends admin-layout

block content
    h2 Admin Menu
    div(class='btn-group-vertical half-width central override-display')
        a(role='button', class='btn btn-primary', href='/admin/users') Users
        a(role='button', class='btn btn-primary', href='/admin/sessions') Sessions
        a(role='button', class='btn btn-primary', href='/admin/api') API
        a(role='button', class='btn btn-primary', href='/admin/content') Content