extends layout

block content
    h2(style='text-align: center') Please Wait
    p(style='text-align: center') We're logging you in
    noscript(style='text-align: center')
        div(class='alert alert-danger', role='alert', style='text-align: left')
            p Javascript is disabled.  Without it we can't log you in.  Please enable Javascript and then log in again.
    div(class='progress')
        div(class='progress-bar progress-bar-striped active', role='progressbar', aria-valuenow=100, aria-valuemin=0, aria-valuemax=100, style='width: 100%')
            span(class='sr-only') 100% Complete
    script
        | window.addEventListener('message', na_receivemsg);
        | function na_receivemsg(event) {
        |   var origin = '#{scheme}://#{sitename}';
        |   var port = '#{port}';
        |   if (port !== 'undefined') origin += ':' + port;
        |   if (origin !== event.origin) return;
        |   event.source.postMessage('CONFIRM_LOGIN', event.origin);
        |   window.close();
        | }