extends layout

block content
    h2 Account added
    p You can now log in with the account you just selected
    
block actionbuttons
    a(class='btn btn-default', id='account', href='/account') Account
    a(class='btn btn-primary', id='connect', href='/connect') Add Another Login