doctype html
html
    head
        title Nouse Account
    body
        h1 Nouse Account
        p
            | Soon you'll be able to use one account to access different parts of Nouse,
            | including Commenting, Fantasy Football and more.
        p
            | Check back to find out when it's available to you!