extends layout

block content
    noscript
        div(class='alert alert-danger', role='alert')
            p Please enable Javascript in your browser.  Without it, logging in might not work.

    p
        | Please login to view your account using one of the options below
    div(class='btn-group-vertical half-width central override-display')
        a(role='button', class='btn btn-primary', href='/login/google') Google
        a(role='button', class='btn btn-primary', href='/login/facebook') Facebook
        a(role='button', class='btn btn-primary', href='/login/wordpress') Wordpress.com
        a(role='button', class='btn btn-primary', href='/login/local') Email and Password