doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/res/bootstrap/css/bootstrap.min.css')
        title Nouse Account
    body
        h1 Login
        p
            | Please login to view your account using one of the options below
        div
            button(type='button', class='btn btn-primary', onclick='window.location.href="/login/google"') Google