extends layout

block content
    p Your report has been submitted to us for review.
    h2 What happens now?
    p We'll take a look at your report.  If the content you reported voilates our terms and conditions then we'll remove the content.  If we need to, we'll also pass it on to the right person to look into further.  This might happen when the content you reported gives us concerns for the safety of someone or something.
    p If you've asked to be kept informed when you submitted the report, we'll normally let you know once a decision has been made.  Sometimes we won't be able to though.  Otherwise, you won't hear from us.  We won't send you a confirmation email about this report; this is the only confirmation screen you'll see.
    p If we decide not to remove the content you reported, if you asked to be kept informed about your report, then we'll let you know why we've decided to let it stay.  You'll be able to get in touch with us again if you think we need to take another look at what you reported.
    h2 Will anyone know I reported them?
    p If we remove or change content as a result of your report, then we might let whoever put the content on our sites that we've changed it because of a report.  We'll never let them know it was you who reported it though.
    h2 Why did you need my email address?
    p We need this to ensure we can get in touch with you if we have any questions.  We also use it to help us reduce spam and malicious reports.
    
block actionbuttons
    a(class='btn btn-primary', href='javascript:window.close();') Close