extends layout

block content
    p
    | You've registered for an account with Nouse.  Now you need to validate your email address.
    
    p
    | We've sent you an email with instructions on what to do next.  If you can't find it then check your Junk or Spam folder.  If it isn't there then please 
    a(href="http://www.nouse.co.uk/about-nouse/contact-us") contact the Tech team
    | .